{% extends 'base.html' %}

{% block content %}

<h1> {{ cart.user.username }} </h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
        {% for item in cart.cart_items.all %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.qty  }}</td>
                <td>{{ item.product.price  }}</td>
                <td><a href="{% url 'delete_cart_item' product.id %}" type="button" class="btn btn-primary btn-sm">Remove</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}




